/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background: rgb(255, 255, 255);
  color: #000;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.8rem;
}
.btn .btn__exp__resto {
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 0px 5px 18px -3px #9e9e9e;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
  border: none;
  border-radius: 35px;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
}
.btn .btn__exp__resto:hover {
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
  box-shadow: 0px 5px 22px -3px #6b6b6b;
  opacity: 0.8;
  cursor: pointer;
}
.btn .btn__exp__resto:active {
  position: relative;
  top: 1px;
}

.container main section .localisation__ville {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  font-size: 1.08rem;
  font-weight: bold;
  background: #f3f3f3;
  padding: 1rem;
}
.container main section .localisation__ville .icone__ville {
  font-size: 1rem;
  transform: translateX(-1.4rem);
  -webkit-transform: translateX(-1.4rem);
  -moz-transform: translateX(-1.4rem);
  -ms-transform: translateX(-1.4rem);
  -o-transform: translateX(-1.4rem);
}
.container main section .decouverte__exploration .title__resa__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.container main section .decouverte__exploration .title__resa__menu .text__title__resa__menu {
  width: 80%;
  font-size: 1.58rem;
  font-weight: 600;
}
.container main section .decouverte__exploration .title__para__resto {
  text-align: center;
  font-weight: lighter;
}
.container main section .decouverte__exploration .title__para__resto .text__title__para__resto {
  font-size: 1.14rem;
  opacity: 70%;
}
.container main section .fonctionnement {
  padding-left: 1.2rem;
  padding-right: 1.8rem;
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
}
.container main section .fonctionnement .title__fonctionnement {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.container main section .fonctionnement .title__fonctionnement .text__title__fonctionnement {
  font-weight: 600;
}
.container main section .fonctionnement .order {
  width: 100%;
  counter-reset: section;
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
.container main section .fonctionnement .order .order__list {
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  position: relative;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  background: #f6f6f6;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.container main section .fonctionnement .order .order__list .list__resto {
  padding-left: 20px;
}
.container main section .fonctionnement .order .order__list .list__resto .fa-mobile-alt {
  color: #6b6363;
  font-size: 1.2rem;
  transform: translateX(-1.6rem);
  -webkit-transform: translateX(-1.6rem);
  -moz-transform: translateX(-1.6rem);
  -ms-transform: translateX(-1.6rem);
  -o-transform: translateX(-1.6rem);
  font-size: 1.28rem;
}
.container main section .fonctionnement .order .list__menu .list__icon {
  color: #6b6363;
  font-size: 1rem;
  transform: translateX(-1.4rem) translateY(-0.008rem);
  -webkit-transform: translateX(-1.4rem) translateY(-0.008rem);
  -moz-transform: translateX(-1.4rem) translateY(-0.008rem);
  -ms-transform: translateX(-1.4rem) translateY(-0.008rem);
  -o-transform: translateX(-1.4rem) translateY(-0.008rem);
}
.container main section .fonctionnement .order .list__degust .store__icon {
  color: #6b6363;
  font-size: 1rem;
  transform: translateX(-1.4rem) translateY(-0.008rem);
  -webkit-transform: translateX(-1.4rem) translateY(-0.008rem);
  -moz-transform: translateX(-1.4rem) translateY(-0.008rem);
  -ms-transform: translateX(-1.4rem) translateY(-0.008rem);
  -o-transform: translateX(-1.4rem) translateY(-0.008rem);
}
.container main section .fonctionnement .order__list::before {
  display: flex;
  flex-direction: row;
  counter-increment: section;
  content: "" counter(section);
  position: absolute;
  list-style-type: decimal;
  background-color: #9356DC;
  font-size: 0.9375rem;
  font-weight: lighter;
  color: white;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  text-decoration: none;
  transform: translateY(-1.6px);
  transform: translateX(-12px);
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  -ms-transform: translateX(-12px);
  -o-transform: translateX(-12px);
  border-radius: 2.8125rem;
  -webkit-border-radius: 2.8125rem;
  -moz-border-radius: 2.8125rem;
  -ms-border-radius: 2.8125rem;
  -o-border-radius: 2.8125rem;
}
.container main section .fonctionnement .order__list:hover {
  background: #f2eafb;
  box-shadow: 0px 5px 22px -3px #6b6363;
}
.container main section .title__resto {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  position: relative;
  padding-left: 1.2rem;
}
.container main section .title__resto .text__title__resto {
  font-weight: 600;
}
.container main section .card__resto {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 280px;
  position: relative;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 5px 18px -3px #9e9e9e;
  margin: 0px 20px 20px 20px;
}
.container main section .card__resto__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 1.2rem 1.2rem 0 0;
  -moz-border-radius: 1.2rem 1.2rem 0 0;
  -ms-border-radius: 1.2rem 1.2rem 0 0;
  -o-border-radius: 1.2rem 1.2rem 0 0;
}
@media only screen and (min-width: 375) {
  .container .container {
    width: 375;
    height: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container .container {
    width: 768px;
    height: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .container .container {
    width: 992px;
    height: auto;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
