@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.8rem;
}
.btn .btn__exp__resto {
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 0px 5px 18px -3px #9e9e9e;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
  border: none;
  border-radius: 35px;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
}
.btn .btn__exp__resto:hover {
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
  box-shadow: 0px 5px 22px -3px #6b6b6b;
  opacity: 0.8;
  cursor: pointer;
}
.btn .btn__exp__resto:active {
  position: relative;
  top: 1px;
}

/*conteneur de la page web*/
.container main {
  /*localisation, découverte & exploration*/
}
.container main section .localisation__ville {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  font-size: 1.08rem;
  font-weight: bold;
  background: #f3f3f3;
  padding: 0.8rem;
}
.container main section .localisation__ville .icone__ville {
  font-size: 1rem;
  transform: translateX(-1.4rem);
  -webkit-transform: translateX(-1.4rem);
  -moz-transform: translateX(-1.4rem);
  -ms-transform: translateX(-1.4rem);
  -o-transform: translateX(-1.4rem);
}
.container main section .decouverte__exploration .title__resa__menu {
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.718rem;
}
.container main section .decouverte__exploration .title__resa__menu h2 {
  font-weight: 500;
}
.container main section .decouverte__exploration .title__para__resto {
  text-align: center;
  font-weight: lighter;
  font-size: 1.14rem;
  opacity: 70%;
}

@media only screen and (min-width: 375) {
  .container {
    width: 375;
    height: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
    height: auto;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
