header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    position: relative;
}

h1{
    font-size: 2rem;
    box-shadow: $shadow-header;
    padding-top: 1rem;
    padding-bottom: .4rem;
}