// MENU ENTREES

/*MENU 1 SECTION*/
.media{
    .menu{
        @include menu;   
        .menu__title{
        @include menu__title;
        }
        /*CARD 1*/ 
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--1{
            @include slideInUp--1;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle;
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
        /*CARD 2*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--2{
            @include slideInUp--2;
            .sticker--menu__description{
                display: flex;
                flex-direction: column;
                width: 85%;
                transition: width 1s ease-in-out;
                .sticker--menu__description__title{
                    font-size: 18px;
                    font-weight: 500;
                    margin: 11px 0px 4px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sticker--menu__description__subtitle {
                    font-size: 14px;
                    font-weight: lighter;
                    margin: 0px 0px 12px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sticker--menu__price {
                    font-size: 15px;
                    font-weight: bold;
                    justify-items: center;
                    margin: 40px 10px 0px 10px;
                    width: 15%;
                    transition: width 1s ease-in-out;
                }
                .sticker--menu__icon {
                    display: flex;
                    flex-direction: row;
                    background-color: #99E2D0;
                    width: 0%;
                    border-radius: 0px 15px 15px 0px;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: width 1s ease-in-out;
                }
                .sticker--menu__icon__check {
                    background-color: white;
                    color: #99E2D0;
                    font-size: 12px;
                    padding: 4px;
                    border-radius: 25px;
                }

            }
        }
        /*CARD 3*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--3{
            @include slideInUp--3;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
        /*CARD 4*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--4{
            @include slideInUp--4;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }
            }
        }
    }    
    /*MENU 2 SECTION*/
    .menu{
        @include menu;
        .menu__title{
            @include menu__title;
        }
        /*CARD 4*/ 
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--1{
            @include slideInUp--1;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
        /*CARD 5*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--2{
            @include slideInUp--2;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
        /*CARD 6*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--3{
            @include slideInUp--3;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
    }  
    /*MENU 3 SECTION*/
    .menu{
        @include menu;   
        .menu__title{
        @include menu__title;
        }
        /*CARD 7*/ 
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--1{
            @include slideInUp--1;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle;
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
            /*CARD 8*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--2{
            @include slideInUp--2;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }
        }
        /*CARD 9*/
        .sticker--menu{
            @include sticker--menu;
        }
        .slideInUp--3{
            @include slideInUp--3;
            .sticker--menu__description{
                @include sticker--menu__description;
                .sticker--menu__description__title{
                    @include sticker--menu__description__title;
                }
                .sticker--menu__description__subtitle {
                    @include sticker--menu__description__subtitle
                }
                .sticker--menu__price {
                    @include sticker--menu__price;
                }
                .sticker--menu__icon {
                    @include sticker--menu__icon;
                }
                .sticker--menu__icon__check {
                    @include sticker--menu__icon__check;
                }

            }
        }
    }  

}



}