@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "../utils/_variables.scss";

body{
    .loader{
    display: flex;
    background: darken($color-primary,60%);
    position: fixed;
    width: 100vh;
    height: 100vh;
    inset: 0;
    text-align: center;
    z-index: 1;
    opacity:.9;
    animation : hide .2s 3s forwards;
    transform-origin: top;
    .loader__ball{
        position: absolute;
        margin: 48vh 14vh;
        width: 1.2rem;
        height: 1.2rem;
        background-color: lighten($color-secondary,10%);
        border-radius: 50%;
        animation: motion 3s ease-in-out infinite;
        -webkit-animation: motion 3s ease-in-out infinite;
        }
    .loader__text {
        margin: 50vh 7vh;
        color: lighten($color-tertiary,15%);
        font-family: "Shrikhand",cursive;
        letter-spacing: 3px;
        font-size: 2rem;
        z-index: 2;
    }   
}
}    
  
 
@keyframes motion{
  0%{
	transform: translateX(0) scale(1);
	}
    
  25%{
	transform: translateX(-50px) scale(0.3);
  }
    
  50%{
	transform: translateX(0) scale(1);
  }
    
  75%{
	transform: translateX(50px) scale(0.3);
	}
    
  100%{
	transform: translateX(0) scale(1);
	}
}
@keyframes hide {
    0%{
       visibility: visible;
}
    100%{
        visibility: hidden;
    
}
}