
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
@import "../utils/_keyframes.scss";



.loader__page {
    @include flexColumnCenter;
    @include widTh(100%);
    @include heiGht(100%);
    @include posiTion(fixed);
    @include backgroundColor(darken($color-primary,60%));
    @include inSet(0);
    @include opaCity(.9);
    @include zIndex(2);
    animation : hide 1s 2s forwards;
    .loader__spinner {
    @include flexColumnCenter;
    @include widTh(375px);
    @include heiGht(auto);
    @include marginLRTB(auto);
    @include paddingLRTB(0 45%);
    
    .loader  {
        animation: rotate 1s infinite;  
        @include heiGht(50px);
        @include widTh(50px);
    }
    .loader:before,
    .loader:after {   
        content: '';
        @include block;
        @include bordeRadius(50%);
        @include heiGht(20px);  
        @include widTh(20px);
    }
    .loader:before {
        animation: ball1 1s infinite;  
        @include backgroundColor(#{$color-primary});
        @include boxShaddow(30px 0 0 #{$color-secondary});
        @include marginBottom(10px);
    }
    .loader:after {
        animation: ball2 1s infinite; 
        @include backgroundColor(#{$color-tertiary});
        @include boxShaddow(30px 0 0 lighten($color-secondary,10%));
    }
    .loader__text {
        @include flexColumnCenter;
        @include coLor(lighten($color-tertiary,10%));
        @include fontFamily("Shrikhand");
        @include fontSize(2rem);
        @include letterSpacing(3px);
        @include zIndex(2);
        @include marginRight(1%);
        }
}
}
