$color-bg:rgb(255, 255, 255);

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $color-bg;
    font-family: sans-serif;
    text-decoration: none;
    @if (lightness($color-bg) > 50%) {
        color:#000;
    }@else {
        color: #fff;
    }
}