$small: 375px!default;
$medium: 768px!default;
$large: 992px!default;

$small-up:"all and (min-width: #{$small})";
$small-down:"all and (max-width: #{$small})";
$medium-up:"all and (min-width: #{$medium})";
$medium-down:"all and (max-width: #{$medium})";
$large-up:"all and (min-width: #{$large})";
$large-down:"all and (max-width: #{$large})";
